<div class="col-3 bg-dark text-center min-vh-100 px-0">
      <!-- my face -->
      <a href="{{ site.baseurl }}/">
	<img 
	   src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT1iIU81Vuy0tiOAeQ1jFOsPMSpH9pFxYijqkvtNnCQn6mzon8OIA" 
	  class="img rounded-circle p-3 w-75 mb-2">
      </a>
      <!-- promo text -->
      <!-- <p class="text-white text-uppercase my-4">laravel developer</p> -->
      <!-- navigation -->
      <p class="mb-0">
	<a href="{{ site.baseurl }}/blog" 
	  class="text-uppercase text-white list-group-item bg-dark"
	  style="text-decoration: none">blog</a>
      </p>
      <p class="mt-0">
	<a href="{{ site.baseurl }}/portfolio" 
	  class="text-uppercase text-white list-group-item bg-dark"
	  style="text-decoration: none">portfolio</a>
      </p>
      <!-- social links -->
      <ul class="list-unstyled mt-3">
	<li class="p-1"><a href="" class="text-warning"><i class="fab fa-github fa-2x"></i></a></li>
	<li class="p-1"><a href="" class="text-danger"><i class="fab fa-youtube fa-2x"></i></a></li>
	<li class="p-1"><a href=""><i class="fab fa-linkedin fa-2x"></i></a></li>
	<li class="p-1"><a href="" class="text-white"><i class="fab fa-facebook-square fa-2x"></i></a></li>
      </ul>

  </div>
