<div class="col-9 animated fadeInRight">
  <div class="float-right">
    <blockquote class="blockquote text-right p-5 m-5">
      <p>Hi there.</p>
      <p>My name is David Basil <br>and I am a <a class="text-danger text-decoration-none" href="https://laravel.com/">Laravel</a> developer.</p>
      <p>I love to learn and also teach others.</p>
      <p>You can check out my 
	<a href="{{ site.baseurl }}/blog" class="text-info text-decoration-none">blog/vlog</a> or my 
	<a href="{{ site.baseurl }}/portfolio" class="text-info text-decoration-none">portfolio</a>
      </p>
      <footer class="blockquote-footer pt-2">
	<span class="badge badge-dark text-uppercase">laravel</span>
	<span class="badge text-uppercase">php</span>
	<span class="badge badge-dark text-uppercase">sql</span>
	<span class="badge text-uppercase">bootstrap</span>
	<span class="badge badge-dark text-uppercase">js</span>
      </footer>
    </blockquote>
  </div>
</div> <!-- end of col -->
