---
layout: default
---

<div class="col-9 pt-4 pl-5 mb-5 animated fadeIn">
  <h3 class="text-center mb-5">{{ page.title }}</h3>
  <p class="text-muted mb-2">{{ page.date | date: "%-d %B %Y"  }}</p>
  {% if page.video_link %}
  <div class="embed-responsive embed-responsive-16by9 rounded mb-4">
    <iframe class="embed-responsive-item" src="{{ page.video_link }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  {% endif %}

  {{ content }}
</div> <!-- end of col -->
